{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.inputString) }}
    {{ form_row(form.minimalSubstringLength) }}
    <button type="submit" formnovalidate>Get result</button>
    {{ form_end(form) }}

    {% if substringCollection %}
        <div id="result">
            {% for substringArray in substringCollection %}
                <p>
                {% for substring in substringArray %}
                    <span>[{{ substring }}]</span>
                {% endfor %}
                </p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
